[
    {config, [
        #{
            files => ["src/**/*.erl", "test/**/*.erl", "test/**/*.hrl"],
            rules => [
                {elvis_text_style, max_line_length, #{
                    limit => 120,
                    skip_comments => false
                }},
                {elvis_text_style, no_tabs},
                {elvis_text_style, no_trailing_whitespace},
                {elvis_style, macro_naming_convention, #{regex => "^([A-Z][A-Z_0-9]*)$"}},
                %{elvis_style, macro_module_names},
                {elvis_style, no_deep_nesting, #{level => 4}},
                {elvis_style, no_god_modules, #{limit => 25}},
                {elvis_style, no_invalid_dynamic_calls, #{ignore => [
                    shackle,
                    shackle_hooks,
                    shackle_server,
                    shackle_ssl_server,
                    shackle_tcp_server,
                    shackle_udp_server,
                    shackle_utils,
                    shackle_tests,
                    shackle_batch_tests,
                    shackle_bench,
                    shackle_profile,
                    shackle_conn_timeout
                ]}},
                {elvis_style, no_used_ignored_variables},
                {elvis_style, no_behavior_info},
                {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z_0-9]*_?)*$"}},
                {elvis_style, variable_naming_convention, #{regex => "^_?([A-Z][0-9_a-zA-Z]*)_?$"}},
                {elvis_style, no_spec_with_records},
                {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
                {elvis_style, max_module_length, #{
                    max_length => 1500,
                    count_comments => false,
                    count_whitespace => false
                }},
                {elvis_style, max_function_length, #{
                    max_length => 200,
                    count_comments => false,
                    count_whitespace => false
                }},
                {elvis_style, no_call, #{no_call_functions => []}},
                {elvis_style, no_debug_call, #{
                    debug_functions => [
                        {ct, pal},
                        {ct, print},
                        {io, format, 1},
                        {io, format, 2}
                    ],
                    ignore => [shackle_bench]
                }},
                {elvis_style, no_common_caveats_call, #{
                    caveat_functions => [
                        {timer, send_after, 2},
                        {timer, send_after, 3},
                        {timer, send_interval, 2},
                        {timer, send_interval, 3},
                        {erlang, size, 1}
                    ]
                }},
                {elvis_style, atom_naming_convention, #{
                    regex => "^([a-z]([a-z0-9][a-z0-9]*_?)*|([a-z][a-z0-9]*_?)*)(_SUITE)?$",
                    enclosed_atoms => ".*"
                }},
                {elvis_style, no_dollar_space, #{}},
                {elvis_style, numeric_format, #{
                    regex => "^[^_]*$",
                    int_regex => ".*",
                    float_regex => same
                }},
                {elvis_style, always_shortcircuit, #{}}
            ]
        }
    ]},
    {verbose, true}
].
