{cover_enabled, true}.

{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "anchor"}
]}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{profiles, [
  {doc, [
    {deps, [
      {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}}
    ]}
  ]}
]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_functions,
  undefined_function_calls
]}.
