{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.

{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "shackle"}
]}.

{erl_opts, [
  debug_info,
  {platform_define, "18", 'ETS_TAKE'},
  {platform_define, "19", 'RAND'},
  {platform_define, "19", 'UDP_HEADER'}
]}.

{plugins, [
  {coveralls,
    {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}
]}.

{profiles, [
  {compile, [
    {erl_opts, [
      warnings_as_errors,
      warn_export_all,
      warn_export_vars,
      warn_missing_spec,
      warn_obsolete_guard,
      warn_shadow_vars,
      warn_untyped_record,
      warn_unused_import,
      warn_unused_vars
    ]}
  ]},
  {edoc, [
    {deps, [
      {edown, {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}}
    ]}
  ]},
  {test, [
    {deps, [
      {fprofx, {git, "https://github.com/lpgauth/fprofx.git",
          {branch, "otp_19"}}}
    ]},
    {plugins, [
      {coveralls,
        {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}
    ]},
    {src_dirs, ["src", "test"]}
  ]}
]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_function_calls
]}.
